
:root {
    --red: #e6563b;
    --green: #7cb06c;
    --yellow: #EB9D3A;
    --blue: #00aba9;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
}

h1 {font-size: 4em;}
h2 {font-size: 3em;}
h3 {font-size: 2.5em;}
h4 {font-size: 2em;}
h5 {font-size: 1.75em;}

.brand-name {font-size: 1.75em;}

nav a {
    font-size: .75em;
    color: black;
}

.bg-light{
    background-color: #F0F0F0 !important;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 1vw;
}

.circle h6 {
    margin: 0;
}

.red {background-color: var(--red);}
.blue {background-color: var(--blue);}
.yellow {background-color: var(--yellow);}
.green {background-color: var(--green);}

.small-circles {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 8px;
    line-height: 18px;
    font-family: 'Anton', sans-serif;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}


nav .nav-item {
    position: relative;
    bottom: 6px;
}

.tweet i {
    font-size: 2em;
    margin-right: .3em;
    position: relative;
    top: .4em;
    color: rgb(27 160 239);
}

.images {
    /*max-width: 100%;*/
    border: 10px solid #e6e6e6 !important;
    border-radius: 4px;
    background-size: cover;
    padding: 0;

}

.sub-title {
    text-align: center;
    margin-top: 5em;
}


.main-body{
    background-color: #F0F0F0;
}

.custom-border {
    border: 6px solid #E6E6E6;
    padding: 0;
    width: 49%;
    margin-top: 10px;
}